@model IEnumerable<Int.MobileUI.Models.ProjectListModel>
@{
    var tempList = Model.ToList();
}

<div class="page-content">
    <div class="page-header">
        <button class="btn btn-app btn-light btn-xs">
            <i class="icon-tag bigger-160"></i>
            项目列表
        </button>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive">
                        <table id="project-table-1" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th class="center">
                                    </th>
                                    <th>项目编号</th>
                                    <th>项目所有人</th>
                                    <th>项目类型</th>
                                    <th>项目创建时间</th>
                                    <th>项目阶段</th>
                                    <th class="hidden-480">是否可编辑</th>
                                    <th class="hidden-480">是否可删除</th>
                                    <th></th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in tempList)
                                {
                                    var projectType = "其他项目";
                                    if (item.ProjectType == "T1") { projectType="培训项目";}
                                    else if (item.ProjectType == "T2") { projectType = "咨询项目"; }
                                    var timeArr=item.ProjectCreatedTime.Split();
                                    var displayTime = item.ProjectCreatedTime;
                                    if (timeArr.Length > 4)
                                    {
                                        displayTime = timeArr[3] + "年" + timeArr[0] + "月" + timeArr[2] + "日" + timeArr[4];
                                    }
                                    var pState = (item.State).ToString();
                                    if (item.State == 0) { pState = "需求单审核中"; }
                                    else if (item.State == 1) { pState = "提案制作中"; }
                                    else if (item.State == 2) { pState = "项目洽谈中"; }
                                    else if (item.State == 3) { pState = "项目前期准备"; }
                                    else if (item.State == 4) { pState = "项目实施中"; }
                                    else if (item.State == 5) { pState = "项目实施完毕"; }
                                    else if (item.State == 6) { pState = "资料归档中"; }
                                    <tr>
                                        <td class="center">
                                            <label>
                                                <input type="checkbox" class="ace" />
                                                <span class="lbl"></span>
                                            </label>
                                        </td>
                                        <td>@item.ProjectId</td>
                                        <td>@item.ProjectOwner</td>
                                        <td>@projectType</td>
                                        <td>@displayTime</td>
                                        <td>@pState</td>
                                        <td class="hidden-480"><i class="icon-ok bigger-120"></i></td>
                                        <td class="hidden-480"><i class="icon-ok bigger-120"></i></td>
                                        <td>
                                            <button class="btn btn-xs btn-info" >
                                                <i class="icon-edit bigger-120"></i>
                                            </button>
                                            <button class="btn btn-xs btn-info" value="@item.State">
                                                <i class="icon-print bigger-120"></i>
                                            </button>
                                            <button class="btn btn-xs btn-danger" >
                                                <i class="icon-trash bigger-120"></i>
                                            </button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div><!-- /.table-responsive -->
                </div><!-- /span -->
            </div>
        </div>
    </div>
    <div id="pdetail">
    </div>
</div>

@section Scripts{
<script src="/assets/js/fuelux/fuelux.wizard.min.js"></script>
<script src="/assets/js/bootstrap-tag.min.js"></script>
<script src="/assets/js/chosen.jquery.min.js"></script>
<script src="/assets/js/jquery.validate.min.js"></script>
    <script type="text/javascript">
        $(function ($) {
            var projectList = $('tbody').children(); var selectedProject; var editProject; var prevcheckedProject; var trainInit = function () {
                $(".chosen-select").chosen(); $('#document').ready(function () { $("#DecisionNo").click(function () { $("#Decision").removeAttr("checked"); }); $("#Decision").click(function () { $("#DecisionNo").removeAttr("checked"); }) }); jQuery.post('/Project/getTrainDetail', { projectid: editProject }).success(function (rText, s) {
                    $('#pdetail').find('form').find('select,input:text').each(function (i, e)
                    { if (e.id != null && e.id != '') { $(e).val(rText[e.id]); if ($(e).hasClass('chosen-select')) { $(e).trigger("chosen:updated"); } } })
                    if (rText.Decision) { $("#Decision").get(0).checked = true } else { $("#DecisionNo").get(0).checked = true }
                }); $("#ProjectId").val(editProject); $('#formsubmit').on('click', function () { jQuery.post('/Project/TrainingUpdated', $("#projectRequire").serialize()).success(function (rText, s) { $('#pdetail').text(rText.errorMsg) }) });
            }; var consultInit = function () {
                $(".chosen-select").chosen(); $('#document').ready(function () { }); jQuery.post('/Project/getConsultDetail', { projectid: editProject }).success(function (rText, s) {
                    $('#pdetail').find('form').find('select,input:text').each(function (i, e)
                    { if (e.id != null && e.id != '') { $(e).val(rText[e.id]); if ($(e).hasClass('chosen-select')) { $(e).trigger("chosen:updated"); } } })
                }); $("#ProjectId").val(editProject); $('#formsubmit').on('click', function () { jQuery.post('/Project/ConsultUpdated', $("#consultProject").serialize()).success(function (rText, s) { $('#pdetail').text(rText.errorMsg) }) });
            }; var ProjectFlowInit = function (sv) { var flowcon = $('#fuelux-wizard').ace_wizard(); console.log(sv); for (var i = 0; i < sv; i++) { flowcon.wizard("next"); } flowcon.on('stepclick', function (e) { }).on('change', function (e, info) { if (info.direction == "next" && info.step == (sv * 1 + 1)) { return false; } }); }; projectList.each(function (index, element) {
                var projectCheck = $(element).children().find('input:checkbox'); projectCheck.on('click', function () {
                    if (!projectCheck.attr("checked")) {
                        if (prevcheckedProject && prevcheckedProject != projectCheck) { prevcheckedProject.attr("checked", false); }
                        projectCheck.attr("checked", true); selectedProject = projectCheck.prevObject[1].innerText; prevcheckedProject = projectCheck;
                    }
                    else { selectedProject = ""; projectCheck.attr("checked", false); }
                }); $(projectCheck.prevObject[8].firstElementChild).on('click', function () { editProject = projectCheck.prevObject[1].innerText; if (projectCheck.prevObject[3].innerText == '培训项目') { $("#pdetail").load('/Project/TrainDetail', null, trainInit); } else if (projectCheck.prevObject[3].innerText == '咨询项目') { $("#pdetail").load('/Project/ConsultDetail', null, consultInit); } }); $(projectCheck.prevObject[8].lastElementChild).on('click', function () { editProject = projectCheck.prevObject[1].innerText; console.log(editProject + ' pdeleteButton'); }); $($(projectCheck.prevObject[8]).children()[1]).on('click', function () { var vs = $(this).val(); $("#pdetail").load('/Project/ProjectFlow', null, function (response, status) { if (status == 'success') { ProjectFlowInit(vs) } }); });
            });
        })
    </script>
}
